* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo';
}

.main {
    width: 100%;
    height: 700px;
    background-image: url(images/pexels-goumbik-590016.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
}

.roller {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #1D3557;
}


#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #571D35;

}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -4rem;
    }

    50% {
        top: -8rem;
    }

    72.5% {
        top: -12.25rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #F1FAEE;
        font-size: 2.125rem;
    }

    .roller {
        height: 2.6rem;
        line-height: 2.125rem;
    }

    #spare-time {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .roller #rolltext {
        animation: slide-mob 5s infinite;
    }

    @keyframes slide-mob {
        0% {
            top: 0;
        }

        25% {
            top: -2.125rem;
        }

        50% {
            top: -4.25rem;
        }

        72.5% {
            top: -6.375rem;
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

html, body, section.horizontal {
  overflow-x: hidden;
}

body { 
  font-weight: 300;
  
  margin: 0;
  padding: 0;
}

.horizontal h1 {
  margin: 0;
  padding: 50px 0 0 50px;
}

.horizontal p {
  margin: 0;
  padding: 50px 0 50px 50px;
}

.horizontal {
  width: 100%;
  height: 100%;
  position: relative;
}
.horizontal:nth-of-type(odd) {
background-color: #f0f0f0;
}

.horizontal:nth-of-type(even) {
background-color: #ffffff;
}

.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
}


section.horizontal .item {
    position: relative;
    padding: 150px 80px;
    flex: 0 0 500px;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
}

section.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;    
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
}




section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
}

section.horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right; 
}

section.horizontal .animation-wrap.to-right .item:before {
    counter-increment: item;
    content: counter(item);
}

section.horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    content: counter(item);
}



section.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
}

section.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
}